body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #a73b28;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2b2188;
}

.product {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: #f9f9f9;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.product-info {
    flex-grow: 1;
}

.product-info h3 {
    margin: 0 0 10px;
}

.product-info p {
    margin: 5px 0;
}

.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-actions button {
    padding: 5px;
    background: rgb(30, 53, 52);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.product-actions button:hover {
    background: #0056b3;
}

.product-actions button.delete {
    background: #dc3545;
}

.product-actions button.delete:hover {
    background: #c82333;
}